# Jetbrains config
.idea

# Node environment
.nvmrc

# Firebase
firebase-config.json
firebase-debug.log

# Generated
build/

# Bower
bower_components

# Secret
secret/

# Github (Poylmer issue templates)
.github